# Data and Embeddings 
Proteins_my_models/My_Data/
*.feather
*.parquet
*.csv
*.tsv
*.zip
*.fasta
clusterRes_DB*

# Environment
.venv/
venv/
env/

# System and IDE
.DS_Store
__pycache__/
.ipynb_checkpoints/

# Models
*.pth

# Proteins_my_models Package
*.egg-info/